# .env file for environment variables.
# The file is based on https://github.com/elastic/elasticsearch/blob/main/docs/reference/setup/install/docker/.env

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=

# Version of Elastic products
STACK_VERSION=9.3.2

# Elasticsearch cluster name
ES_CLUSTER_NAME=docker-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

# NOTE: Generate the keys with the ./setup/generate_kibana_keys.sh script
# Alternatively, run `bin/kibana-encryption-keys generate` inside Kibana container
# Use at least 32-byte-long strong encryption keys
KIBANA_ENCRYPTED_SAVED_OBJECTS_ENCRYPTION_KEY=
KIBANA_REPORTING_ENCRYPTION_KEY=
KIBANA_SECURITY_ENCRYPTION_KEY=

# Increase or decrease based on the available host memory (in bytes)
MEM_LIMIT=1073741824

# Project namespace (defaults to the current folder name if not set)
COMPOSE_PROJECT_NAME=pacman-logs-elastic
